* {
  box-sizing: border-box;
 }
 body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
 }
 /* HEADER */
 header {
  background-color: #000;
 }
 #logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
 }
 #fifa img {
  width: 191px;
 }
 #copa img {
  width: 100px;
 }
 /* NAV */
 nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: #eee;
  border-bottom: 1px solid #aaa;
  text-transform: uppercase;
 }
 nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border: 1px solid #aaa;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  color: #555;
  background-color: white;
 }
 nav a:hover {
  background-color: #d4d4d4;
 }
 .activo {
  border-bottom: 5px solid rgb(105, 43, 43);
  box-shadow: 5px 5px lightgray;
  color: #000;
 }
 /* MAIN */
 main {
  padding: 1rem;
 }
 /* SECTIONS */
 section {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 /* BANDERAS */
 #banderas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding-top: 20px;
  background-image: url(https://media.istockphoto.com/id/2206836726/es/foto/gran-angular-del-estadio-de-f%C3%BAtbol-moderno-con-techo-de-cristal-luces-brillantes-del-estadio.jpg?s=612x612&w=0&k=20&c=QpPFXe76IQgz2Pa1KNXHqeUW2Fyvy5gHBeLb35jsqU4=);
 }
 
 
 #banderas div {
  flex: 1;
  height: 250px;
  border-radius: 10px;
 }
 /* BANDERAS IMAGENES */
 #eeuu {
  background-image: url(../img/eeuu.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }
 
 
 #mx {
  background-image: url(../img/mexico.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }
 
 
 #can {
  background-image: url(../img/canada.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }
 /* TABLAS DE ESTADIOS */
 
 
 table{
  background-color: white;
  border: 3px solid coral;
  border-collapse: collapse;
  margin: 0 auto;
 }
 
 
 table td,
 table th{
  border: 2px solid coral;
  text-align: center;
  padding: 8px;
 }
 
 
 /* TODAS LAS IMÁGENES DE LOS ESTADIOS */
 td img{
  width: 250px;
  height: 150px;
  object-fit: cover;
  border: 3px solid #333;
  border-radius: 8px;
  padding: 3px;
 }
 /* VIDEO */
 iframe {
  width: 100%;
  max-width: 900px;
  height: 500px;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
 }
 /* FOOTER */
 footer {
  background-color: #000;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 10px;
  padding: 10px;
 }
 #colegio,
 #alumno,
 #redes {
  flex: 1;
  min-width: 250px;
  padding: 15px;
 }
 /* CUADROS */
 #colegio {
  background-color: red;
 }
 #alumno {
  background-color: yellow;
  color: black;
 }
 #redes {
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
 }
 /* ICONOS */
 #redes img {
  width: 50px;
  height: 50px;
  object-fit: contain;
 }
 /* TEXTOS */
 h1 {
  font-size: 1.5rem;
  font-weight: bold;
 }
/*campeones********/
.campeones {
  display:grid;
  grid-template-columns: 1fr 3fr; /* 25% para continente, 75% para paises */
  border: 2px solid rgb(0, 0, 0);
  width:100%;
}
/*Columna izquierda: Continente ocupara todo el alto disponible automaticamente*/
.continente {
border-right: 2px solid rgb(0, 0, 0);
padding: 15px 10px;
font-weight: bold;
font-size: 14px;
}
/*Columna Derecha: Se convierte en otro Grid para organizar el continente interno*/
.paises{
  display: grid;
  grid-template-columns: 1fr 1fr; /*Divido en dos columnas para las fotos*/
}



 .multimedia{
  width: 800px;
  background-color: #aaa;
 }
 .multimedia video{
  width: 600px;
 }
 
 
 
 
 h3 {
  margin-top: 0;
 }
 a {
  color: inherit;
 }
 /* RESPONSIVE */
 @media (max-width: 768px) {
  #logos {
    flex-direction: column;
    gap: 10px;
  }
  #banderas {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding-top: 20px;
     background-image: url("https://www.clarin.com/2025/06/17/IOfIZWHY5_2000x1500__1.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
   #banderas div {
    flex: 1;
    height: 250px;
    border-radius: 10px;
  }
  #intro {
    height: 250px;
  }
  iframe {
    height: 300px;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  nav a {
    width: 100%;
  }
 }
 h2{
  text-align: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
 }
 
 
 
 
 .pais{
  width: 150px;
  font-size: 25px;
  font-weight: bold;
 }
 
 
 #eeuu {
  background-image: url("../img/estadosunidos.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
 }
 
 
 #eeuu {
  background-image: url("https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 }
 
 
 #mx {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/f/fc/Flag_of_Mexico.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 }
 
 
 #can {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/cf/Flag_of_Canada.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
 }
 
 
 